Welcome to LSG Tracker's Admin Lounge.
<div class="navlinks">
  <%= link_to "Users", admin_users_path %>
  <%= link_to "Ticket States", admin_ticket_states_path %>
  <%= link_to "Project States", admin_project_states_path %>
</div>
