// stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css"
@import "http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css";

$bg_color_html: white;
$bg_color_error: #FF3444;
$bg_color_notice: #85FF00;
$bg_color_tag: #565656;
$bg_color1: #dadada;
$bg_color2: #eaeaea;
$bg_color3: #f0f0f0;
$fg_color_text1: white;
$fg_color_text2: black;
$fg_color_text3: #555;
$tb_border: #789B2F;
$tb_bg_head: #70d3ff;
$tb_bg_odd: #45d4ff;
$tb_bg_even: #9ad2ff;
$ticket_link: #0040ff;
$ticket_tag_link: white;
$border_color: #e0e0e0;
$link: #0040ff;

* {
  padding: 0px;
  margin: 0px;
}

html {
  background: $bg_color_html;
}

body {
  font: 13pt Helvetica;
  margin: 5px 10% 0px 10%;
  height: 100%;
  padding: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

h1 {
  margin-bottom: 20px;
}

nav {
  background: $bg_color1;
  margin: 5px 0px 0px 0px;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  .pagination {
    margin: 2px 10px 2px 10px;
  }
}

section {
  background: $bg_color3;
  margin: 3px 0px;
  padding: 3px 3px 12px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

footer {
  background: $bg_color1;
  margin: 30px 0px 0px 0px;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.navlinks {
  background: $bg_color2;
  margin: 3px 0px 0px 0px;
  padding: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

a {
  color: $link;
  margin-right: 7px;
}

a#sign_out {
  float: right;
  margin-right: 2px;
}

textarea {
  height: 100px;
  padding: 3px;
  margin: 5px;
}

input[type=text], input[type=email], input[type=password], textarea {
  font-size: 75%;
  border: 0px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px;
  margin: 5px;
}

input[type=submit] {
  margin: 5px;
}

input[type=file] {
  margin: 5px;
}
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  border: 0px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3px;
  margin-left: 165px;
}
input[type=radio] {
  bottom: 2px;
}

select {
  width: auto;
  height: 21px;
  margin: 5px;
}

label {
  float: left;
  width: 150px;
  text-align: right;
  margin: 5px;
}

.search {
  background: $bg_color1;
  margin: 5px 10px 2px 10px;
  padding: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.errorExplanation {
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  background: $bg_color_error;
}

.flash {
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
}

#notice {
  background: $bg_color_notice;
  color: $fg_color_text1;
}

#alert {
  background: $bg_color_error;
}

ul#projects {
  list-style-type: none;
}
ul#watcher_list {
  list-style-type: none;
  margin: 5px 0 5px 0;
  padding: 15px;
  background: $bg_color2;
  border: 1px solid $border_color;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

table {
  border: 1px solid $tb_border;
  margin-top: 10px;

  td, th {
    padding: 3px;
    margin: 0;
    text-align: center;
  }

  thead th {
    background: $tb_bg_head;
    border-bottom: 1px solid $tb_border;
    padding: 10px;
  }

  tr.odd {
    background: $tb_bg_odd;
  }

  tr.even {
    background: $tb_bg_even;
  }
}

ul#tickets {
  padding: 15px;
  list-style-type: none;
}

ul#tickets li {
  margin-bottom: 10px;
}

ul#tickets .state {
  padding-right: 5px;
  /*  margin-right: 4em;*/
}

ul#tickets .state {
  float: left;
}

#ticket, .comment {
  margin: 15px 0 15px 0;
  padding: 15px;
  background: $bg_color2;
  border: 1px solid $border_color;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#ticket a {
  color: $ticket_link;
}

#ticket menu {
  font-size: 75%;
}

div#time_spent {
  padding-top: 5px;
}

menu, #ticket .state, .states {
  float: right;
}

#ticket section {
  clear: both;
}
.floatright {
  float: right;
}

.state {
  display: inline;
  width: 4em;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 80%;
  padding: 3px;
}

div#tags {
  margin-top: 20px;
}

#ticket .tag {
  background: $bg_color_tag;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: $fg_color_text1;
  padding: 3px 1px 5px 8px;
  margin: 3px;
}

#ticket .tag a {
  color: $ticket_tag_link;
}

#ticket .tag .delete {
  font-size: 125%;
  text-decoration: none;
}

.new_comment {
  padding: 15px;
  background: $bg_color2;
  color: $fg_color_text2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.comment, .new_comment {
  width: 75%;
}

.uppercase {
  text-transform: uppercase;
}

/*
Simple form styles
*/

.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: $bg_color_error;
}

.simple_form {
  .error {
    clear: left;
    color: $fg_color_text2;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: $fg_color_text3;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}